- name: naginx
  hosts: frontend
  become: yes
  tasks:
  - name: Install Nginx
    ansible.builtin.package:
      name: nginx
      state: present

  - name: run nginx
    ansible.builtin.service:
      name: nginx
      state: started
      enabled: yes